@font-face {
    font-family: "pyeongChangPeace";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "pyeongChangPeace";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/pyeongChangPeace/pyeongChangPeace-Bold.ttf") format("truetype");
    font-display: swap;
}