#react__header {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;

    h1 {
        font-size: 30px;
        border-bottom: 1px dashed #fff;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-weight: 300;
        display: inline-block;
    }

    p {
        font-size: 16px;
    }

    ul {
        margin-top: 10px;

        li {
            display: inline;

            a {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px dashed #fff;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                margin-right: 4px;
                padding: 1px;
            }
        }
    }
}

#react__header ul li.active a {
    background: #fff;
    color: #000;
}

#react__main {
    min-height: 100vh;
}

#react__footer {
    text-align: center;
    padding: 20px;
    opacity: 0.4;
    color: #fff;
}

// react__item
.react__item {
    position: relative;
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;

    &:nth-child(even) {
        background-color: #222;
    }

    .num {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
    }

    .circle {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 50%;
    }

    .btn {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #333;
        border-radius: 50%;
        padding: 10px;

        &:hover {
            background-color: #222;
        }
    }
}