* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "nanumSquareNeo";
    font-family: "pyeongChangPeace";
    font-weight: 300;
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}